/* ===== CSS Global ===== */
@font-face {
    font-family: "Karantina-Bold";
    src: url("../assets/fonts/Karantina-Bold.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

body {
    font-family: "Poppins-Regular", sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--color-text);
}

p,
span,
ul,
li,
details,
summary,
label,
input,
textarea,
select,
option,
legend {
    font-size: 1.2rem;
    color: var(--color-text);
}

i {
    font-size: 1.2rem;
}

a,
button,
a span,
button span {
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--color-text);
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    width: 1rem;
    height: 1rem;
    accent-color: var(--color-primary);
    cursor: pointer;
}

select,
option {
    background: var(--color-bg);
    cursor: pointer;
}